.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 300px;
  margin: 0 auto 40px auto;
  display: block;
}

.login-button {
  margin-top: 30px;
}
