.intro-container{
  height: 100vh;
  width: 100%;
}

.img-slide{
  width: 80%;
}

.swiper-slide{
  height: calc(100vh);
}

ion-content{
  display: flex;
}

swiper-container{
  --swiper-pagination-bullet-inactive-color:green;
  --swiper-pagination-color:green
}
