<ion-content [fullscreen]="true">
  <div class="intro-container">
    <swiper-container  pagination="true" loop="true" slides-per-view="1">
      @for(slide of slides; track $index){
        <swiper-slide class="swiper-slide"  >
          <div class="ion-text-center">
            <h3>{{slide.titulo}}</h3>
            <img class="img-slide" [src]="slide.imagen" [alt]="slide.titulo" />
            <h6>{{slide.descripcion}}</h6>
          </div>
          @if(slide.id == 4){
            <div class="ion-margin">
              <ion-button  shape="round" color="success" expand="block" class="ion-text-center" (click)="goHome()">
                Ir al Home
              </ion-button>
            </div>
        }
        </swiper-slide>
      }
    </swiper-container>
  </div>
</ion-content>
