<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item  (click)="goToIntro()">
        <ion-button fill="clear" expand="block">
          Ver intro
        </ion-button>
      </ion-item>
      <ion-item  (click)="logout()">
        <ion-button fill="clear" expand="block">
          Cerrar sesión
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <swiper-container pagination="true" loop="true" slides-per-view="1">
    @for(slide of slides; track $index){
      <swiper-slide [class]="theme">
        {{theme }}
        <div class="slide">
          <h2>{{ slide.titulo }}</h2>
          <img [src]="slide.imagen" [alt]="slide.titulo" />
          <p>{{ slide.descripcion }}</p>
        </div>
      </swiper-slide>
    }
  </swiper-container>

  <ion-card class="card">
    <ion-button (click)="setTheme()">
      Cambiar tema
    </ion-button>
  </ion-card>
    <ion-card class="card">
    <ion-button (click)="goToIntro()">
      Volver a ver la intro
    </ion-button>
  </ion-card>
  @if(intro){
    <ion-text color="primary" >
      <h1>Ya vio la intro</h1>
    </ion-text>
  }@else{
    <ion-text color="primary" >
      <h1>No ha visto la intro</h1>
    </ion-text>
  }
  </ion-content>
</div>
