<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container pagination="true" loop="true" slides-per-view="1">
    @for(slide of slides; track $index){
      <swiper-slide [class]="theme">
        <div class="slide">
          <h2>{{ slide.titulo }}</h2>
          <img [src]="slide.imagen" [alt]="slide.titulo" />
          <p>{{ slide.descripcion }}</p>
        </div>
      </swiper-slide>
    }
  </swiper-container>

  <ion-card class="card">
    <ion-button (click)="cambiarTema()">
      Cambiar tema
    </ion-button>
  </ion-card>
</ion-content>
