#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #e48e2b;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.button{
  // background-color: var(--color-acento);
  padding : var(--espaciado-base);
}

.card{
  padding: var(--espaciado-grande);
  // background-color: var(--color-claro);
  text-align: center;
}

.bg-card{
  background-color: red;
}

// ion-avatar {
//     height: 50%;
//     width: 50%;
// }

ion-avatar {
  --border-radius: 4px;
  height: 100px;
  width: 100px;
  margin: 10px;
}

swiper-container{
  padding: 5px;
}
